<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
<body>
<form action="/user/authorization" th:object="${user}" method="post">
    <input type="text" th:field="*{username}" class="form-control" placeholder="Login" required="" autofocus=""/>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect date</p>
    <br>

    <br>
    <input type="text" th:field="*{password}" class="form-control" placeholder="password" required="" autofocus=""/>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
    <br>

    <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

    </button>
</form>
</body>
</html>